body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66bfbf;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 50px auto;
  text-decoration: none;
}

a {
  color: #11999E;
  margin: auto 30px auto;
  font-family: 'Niconne', cursive;
  font-size: 20px;
}
a:hover{
  color:#eaf6f6;
}

.top-container {
  background-color: #4d80e4;
  position: relative;
  padding-top: 100px;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px
}

.middle-container {
  padding: 100px 0;
}

.bottom-container {
  background-color: #66bfbf;
  margin-top: 0px;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.profile {
  margin: auto auto 50px auto;
}

.profile-pic {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.skill-images-gif {
  height: 25%;
  width: 25%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.skill-images-invoker {
  height: 25%;
  width: 25%;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.example_f {
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
  background: linear-gradient(to right, #67b26b, #4ca2cb) !important;
  border: none;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding: 20px;
  width: 200px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
}

.example_f span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.example_f span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.example_f:hover span {
  padding-right: 25px;
}

.example_f:hover span:after {
  opacity: 1;
  right: 0;
}
